body {
    position: relative;
  }

  #home {
    padding-top: 100px;
    height: 800px;
    color: #fff;
    background-color: white;
  }

  #section1 {
    padding-top: 100px;
    height: 800px;
    color: #fff;
    background-color: #1E88E5;
  }

  #section2 {
    padding-top: 100px;
    height: 800px;
    color: #fff;
    background-color: #673ab7;
  }

  #section3 {
    padding-top: 100px;
    height: 800px;
    color: #fff;
    background-color: #ff9800;
  }

  #section4 {
    padding-top: 100px;
    height: 800px;
    color: #fff;
    background-color: #00bcd4;
  }